/*
JSXGraph namespaces CSS 
This file is developed for the use of JSXGraph in Moodle (STACK Questions and Moodle Filter). 
Author: Bernhard Gailer, OTH Amberg-Weiden. 
Latest changes: 10/10/2022
*/

/*JSXGraph Vollbildmodus*/
div[id^="ideal-fullscreenwrap"]:fullscreen {
    background-color: #e7f3f5;
    padding: 20px;
}

/* Vollbild-Schaltfläche */
.ideal-jsxgraph-fullscreen-element {
    background-color: transparent;
    cursor: pointer;
    padding: 0 5px;
    margin-bottom: 28px;
}

/* Vollbild-Schaltfläche hover */
.ideal-jsxgraph-fullscreen-element:hover {
    background-color: #aaaaaa;
}

/* Select Feld */
select.ideal-jsxgraph-select {
    max-width: -moz-fit-content;
    max-width: fit-content;
}

/* Dropdown-Bereich */
div.ideal-jsxgraph-dropdown {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    padding: 0.4em;
}

/* Input Gruppe */
div.input-group {
    display: flex;
    justify-content: right;
    width: 100%;

}

/* Alle Elemente in der Input Gruppe */
div.input-group * {
    font-size: 1em !important;
}

/* Layout Anpassungen classic layout */
div.input-group.classic-jxgbox-layout {
    margin-top: 4px;
    padding-right: 4px;
}

/* Layout Anpassungen new layout */
div.input-group.new-jxgbox-layout>select {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Feedback Icon Elemente */
div.ideal-jsxgraph-feedbacksymbols {
    background: #fcf8e3;
    margin: .2em -.2em .2em;
    padding: 0em .2em 0em .2em;
    z-index: 10 !important;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
}